# Linguistic Data
# ==================================
*.sh linguist-language=Shell
*.sh linguist-detectable=true
*.asm linguist-detectable=true
*.asm linguist-language=Assembly
# ==================================